.menuBurger {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background: #ffffff;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-out, background 1s ease-out;
  -o-transition: all 0.5s ease-out, background 1s ease-out;
  transition: all 0.5s ease-out, background 1s ease-out;
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
  z-index: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menuBurger .menuBurger__container {
  position: relative;
  display: inline-block;
  height: 18px;
  width: 18px;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -o-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: 15px;
  margin-top: 21px;
  z-index: 5;
}
.menuBurger .menuBurger__container .burger {
  width: 18px;
  height: 8px;
  position: relative;
  display: block;
  margin: -4px auto 0;
  top: 50%;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -o-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
.menuBurger .menuBurger__container .bar {
  width: 100%;
  height: 1px;
  display: block;
  position: relative;
  background: #0b1b35;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -o-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}
.menuBurger .menuBurger__container .bar.topBar {
  -webkit-transform: translateY(0px) rotate(0deg);
      -ms-transform: translateY(0px) rotate(0deg);
          transform: translateY(0px) rotate(0deg);
}
.menuBurger .menuBurger__container .bar.btmBar {
  -webkit-transform: translateY(6px) rotate(0deg);
      -ms-transform: translateY(6px) rotate(0deg);
          transform: translateY(6px) rotate(0deg);
}
.menuBurger .icon {
  display: inline-block;
  position: absolute;
  height: 100%;
  line-height: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.menuBurger .menuBurger__list {
  position: relative;
  display: block;
  padding: 0px 48px 0;
  list-style: none;
}
.menuBurger .menuBurger__list .menuBurger__item {
  border-bottom: 1.5px solid rgb(255, 255, 255);
  margin-top: 5px;
  -webkit-transform: scale(1.15) translateY(-30px);
      -ms-transform: scale(1.15) translateY(-30px);
          transform: scale(1.15) translateY(-30px);
  opacity: 0;
  -webkit-transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -o-transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
.menuBurger .menuBurger__list .menuBurger__item:nth-child(1) {
  -webkit-transition-delay: 0.49s;
       -o-transition-delay: 0.49s;
          transition-delay: 0.49s;
}
.menuBurger .menuBurger__list .menuBurger__item:nth-child(2) {
  -webkit-transition-delay: 0.42s;
       -o-transition-delay: 0.42s;
          transition-delay: 0.42s;
}
.menuBurger .menuBurger__list .menuBurger__item:nth-child(3) {
  -webkit-transition-delay: 0.35s;
       -o-transition-delay: 0.35s;
          transition-delay: 0.35s;
}
.menuBurger .menuBurger__list .menuBurger__item:nth-child(4) {
  -webkit-transition-delay: 0.28s;
       -o-transition-delay: 0.28s;
          transition-delay: 0.28s;
}
.menuBurger .menuBurger__list .menuBurger__item:nth-child(5) {
  -webkit-transition-delay: 0.21s;
       -o-transition-delay: 0.21s;
          transition-delay: 0.21s;
}
.menuBurger .menuBurger__list .menuBurger__item:nth-child(6) {
  -webkit-transition-delay: 0.14s;
       -o-transition-delay: 0.14s;
          transition-delay: 0.14s;
}
.menuBurger .menuBurger__list .menuBurger__item .menuBurger__link {
  display: block;
  position: relative;
  color: rgb(255, 255, 255);
  font-family: "DM Sans";
  font-weight: 400;
  text-decoration: none;
  font-size: 22px;
  line-height: 2.35;
  font-weight: 200;
  width: 100%;
}
.menuBurger.menuBurger__open {
  height: calc(100vh + 60px);
  background-color: rgba(11, 27, 53, 0.4862745098);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-transition: all 0.3s ease-in, background 0.5s ease-in;
  -o-transition: all 0.3s ease-in, background 0.5s ease-in;
  transition: all 0.3s ease-in, background 0.5s ease-in;
}
.menuBurger.menuBurger__open .menuBurger__container {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.menuBurger.menuBurger__open .bar {
  background: #ffffff;
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -o-transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.menuBurger.menuBurger__open .bar.topBar {
  -webkit-transform: translateY(4px) rotate(45deg);
      -ms-transform: translateY(4px) rotate(45deg);
          transform: translateY(4px) rotate(45deg);
}
.menuBurger.menuBurger__open .bar.btmBar {
  -webkit-transform: translateY(3px) rotate(-45deg);
      -ms-transform: translateY(3px) rotate(-45deg);
          transform: translateY(3px) rotate(-45deg);
}
.menuBurger.menuBurger__open .menuBurger__list .menuBurger__item {
  -webkit-transform: scale(1) translateY(0px);
      -ms-transform: scale(1) translateY(0px);
          transform: scale(1) translateY(0px);
  opacity: 1;
}
.menuBurger.menuBurger__open .menuBurger__list .menuBurger__item:nth-child(1) {
  -webkit-transition-delay: 0.27s;
       -o-transition-delay: 0.27s;
          transition-delay: 0.27s;
}
.menuBurger.menuBurger__open .menuBurger__list .menuBurger__item:nth-child(2) {
  -webkit-transition-delay: 0.34s;
       -o-transition-delay: 0.34s;
          transition-delay: 0.34s;
}
.menuBurger.menuBurger__open .menuBurger__list .menuBurger__item:nth-child(3) {
  -webkit-transition-delay: 0.41s;
       -o-transition-delay: 0.41s;
          transition-delay: 0.41s;
}
.menuBurger.menuBurger__open .menuBurger__list .menuBurger__item:nth-child(4) {
  -webkit-transition-delay: 0.48s;
       -o-transition-delay: 0.48s;
          transition-delay: 0.48s;
}
.menuBurger.menuBurger__open .menuBurger__list .menuBurger__item:nth-child(5) {
  -webkit-transition-delay: 0.55s;
       -o-transition-delay: 0.55s;
          transition-delay: 0.55s;
}
.menuBurger.menuBurger__open .menuBurger__list .menuBurger__item:nth-child(6) {
  -webkit-transition-delay: 0.62s;
       -o-transition-delay: 0.62s;
          transition-delay: 0.62s;
}