* {
  margin: 0;
  padding: 0;
  font-family: "Ageo";
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: normal;
}

.notScroll {
  overflow: hidden;
}

.inactive {
  display: none !important;
}

input {
  all: unset;
}

.container {
  max-width: 1320px;
  padding: 0px 15px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.menuFull {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 145px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menuFull__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menuFull__item {
  margin-right: 40px;
}
.menuFull__item:last-child {
  margin-right: 0;
}
.menuFull__link {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.menuFull__link:hover {
  color: #ff6600;
}
.menuFull__link_selected {
  font-weight: 700;
}

.logo {
  width: 240px;
}

.profile {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  margin-right: 22px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.profile__link:hover {
  color: #ff6600;
}

.button {
  display: block;
  padding: 10px 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  background: #ff6600;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.button:hover {
  background: #bc4c01;
}

.menuBurger {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background: #ffffff;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-out, background 1s ease-out;
  -o-transition: all 0.5s ease-out, background 1s ease-out;
  transition: all 0.5s ease-out, background 1s ease-out;
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
  z-index: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menuBurger .menuBurger__container {
  position: relative;
  display: inline-block;
  height: 18px;
  width: 18px;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -o-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: 15px;
  margin-top: 21px;
}
.menuBurger .menuBurger__list {
  position: relative;
  display: none;
  padding: 0px 48px 0;
  list-style: none;
}
.menuBurger .menuBurger__item {
  border-bottom: 1.5px solid rgb(255, 255, 255);
  margin-top: 5px;
  -webkit-transform: scale(1.15) translateY(-30px);
      -ms-transform: scale(1.15) translateY(-30px);
          transform: scale(1.15) translateY(-30px);
  display: none;
  -webkit-transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -o-transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
.menuBurger .menuBurger__item:nth-child(1) {
  -webkit-transition-delay: 0.49s;
       -o-transition-delay: 0.49s;
          transition-delay: 0.49s;
}
.menuBurger .menuBurger__item:nth-child(2) {
  -webkit-transition-delay: 0.42s;
       -o-transition-delay: 0.42s;
          transition-delay: 0.42s;
}
.menuBurger .menuBurger__item:nth-child(3) {
  -webkit-transition-delay: 0.35s;
       -o-transition-delay: 0.35s;
          transition-delay: 0.35s;
}
.menuBurger .menuBurger__item:nth-child(4) {
  -webkit-transition-delay: 0.28s;
       -o-transition-delay: 0.28s;
          transition-delay: 0.28s;
}
.menuBurger .menuBurger__link {
  display: block;
  position: relative;
  color: rgb(255, 255, 255);
  font-family: "DM Sans";
  font-weight: 400;
  text-decoration: none;
  font-size: 22px;
  line-height: 2.35;
  font-weight: 200;
  width: 100%;
}
.burger {
  width: 18px;
  height: 8px;
  position: relative;
  display: block;
  margin: -4px auto 0;
  top: 50%;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -o-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

.bar {
  width: 100%;
  height: 1px;
  display: block;
  position: relative;
  background: #0b1b35;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -o-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}
.bar.topBar {
  -webkit-transform: translateY(0px) rotate(0deg);
      -ms-transform: translateY(0px) rotate(0deg);
          transform: translateY(0px) rotate(0deg);
}
.bar.btmBar {
  -webkit-transform: translateY(6px) rotate(0deg);
      -ms-transform: translateY(6px) rotate(0deg);
          transform: translateY(6px) rotate(0deg);
}

.menuBurger__logo {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  display: none;
  padding: 18px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3;
  height: 60px;
  margin: 0 auto;
}

.menuBurger__profile {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  display: none;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menuBurger__login {
  font-size: 12px;
  margin-right: 10px;
}

.menuBurger__button {
  font-size: 12px;
  padding: 6px 15px;
  margin-right: 15px;
}

.fa-right-to-bracket {
  font-size: 30px;
  color: #ff6600;
  display: none;
}

.menuBurger__open {
  height: calc(100vh + 60px);
  background-color: rgba(11, 27, 53, 0.4862745098);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-transition: all 0.3s ease-in, background 0.5s ease-in;
  -o-transition: all 0.3s ease-in, background 0.5s ease-in;
  transition: all 0.3s ease-in, background 0.5s ease-in;
  display: block !important;
}
.menuBurger__open .menuBurger__profile {
  opacity: 0;
}
.menuBurger__open .menuBurger__logo {
  opacity: 0;
}
.menuBurger__open .menuBurger__container .burger {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.menuBurger__open .bar {
  background: #ffffff;
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -o-transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.menuBurger__open .bar.topBar {
  -webkit-transform: translateY(4px) rotate(45deg);
      -ms-transform: translateY(4px) rotate(45deg);
          transform: translateY(4px) rotate(45deg);
}
.menuBurger__open .bar.btmBar {
  -webkit-transform: translateY(3px) rotate(-45deg);
      -ms-transform: translateY(3px) rotate(-45deg);
          transform: translateY(3px) rotate(-45deg);
}
.menuBurger__open .menuBurger__list {
  display: block;
}
.menuBurger__open .menuBurger__list .menuBurger__item {
  -webkit-transform: scale(1) translateY(0px);
      -ms-transform: scale(1) translateY(0px);
          transform: scale(1) translateY(0px);
  display: block;
}
.menuBurger__open .menuBurger__list .menuBurger__item:nth-child(1) {
  -webkit-transition-delay: 0.27s;
       -o-transition-delay: 0.27s;
          transition-delay: 0.27s;
}
.menuBurger__open .menuBurger__list .menuBurger__item:nth-child(2) {
  -webkit-transition-delay: 0.34s;
       -o-transition-delay: 0.34s;
          transition-delay: 0.34s;
}
.menuBurger__open .menuBurger__list .menuBurger__item:nth-child(3) {
  -webkit-transition-delay: 0.41s;
       -o-transition-delay: 0.41s;
          transition-delay: 0.41s;
}
.menuBurger__open .menuBurger__list .menuBurger__item:nth-child(4) {
  -webkit-transition-delay: 0.48s;
       -o-transition-delay: 0.48s;
          transition-delay: 0.48s;
}
.menuBurger__open .menuBurger__list .menuBurger__item-logIn {
  display: none;
}
.menuBurger__open .menuBurger__list .menuBurger__item-signUp {
  display: none;
}

.boost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title {
  margin-top: 66px;
  max-width: 500px;
  font-weight: 850;
  font-size: 70px;
  line-height: 81px;
  color: #0b1b35;
}

.text {
  margin-top: 36px;
  max-width: 555px;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
}

.boost__activities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 66px;
}

.boost__button {
  padding: 10px 34px;
  margin-right: 28px;
}

.boost__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boost__ic {
  width: 50px;
  margin-right: 25px;
}

.boost__link {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.boost__link:hover {
  color: #ff6600;
}

.comm1 {
  position: absolute;
  width: 275px;
  height: 73px;
  left: 74px;
  top: 62px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  background-image: url(../img/comm1.png);
  background-size: cover;
}

.comm2 {
  position: absolute;
  width: 217px;
  height: 73px;
  left: 0px;
  top: 451px;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 12px;
  background-image: url(../img/comm2.png);
  background-size: cover;
}

.items {
  position: absolute;
  width: 639.57px;
  height: 330.62px;
  left: 51.76px;
  top: 94px;
  background-image: url("../img/items.png");
  background-size: cover;
}

.elipse {
  position: absolute;
  left: 198.51px;
  top: 126.52px;
  width: 472.23px;
  height: 472.23px;
  border-radius: 100%;
  background: #f1f1f1;
  -webkit-box-shadow: 0px 67px 138px rgba(0, 0, 0, 0.07), 0px 24.7373px 52.236px rgba(0, 0, 0, 0.0529883), 0px 10.7361px 24.4413px rgba(0, 0, 0, 0.0474983), 0px 4.36604px 11.5058px rgba(0, 0, 0, 0.0432167), 0px 1.32076px 4.80426px rgba(0, 0, 0, 0.0377011), 0px 0.0956488px 1.40755px rgba(0, 0, 0, 0.0279548);
          box-shadow: 0px 67px 138px rgba(0, 0, 0, 0.07), 0px 24.7373px 52.236px rgba(0, 0, 0, 0.0529883), 0px 10.7361px 24.4413px rgba(0, 0, 0, 0.0474983), 0px 4.36604px 11.5058px rgba(0, 0, 0, 0.0432167), 0px 1.32076px 4.80426px rgba(0, 0, 0, 0.0377011), 0px 0.0956488px 1.40755px rgba(0, 0, 0, 0.0279548);
}

.pic {
  position: absolute;
  left: 101px;
  top: 0px;
  width: 606px;
  height: 618.09px;
  background-image: url("../img/joyful-guy-texting-message-smartphone2 1.png");
  background-size: cover;
}

.boost__man {
  position: relative;
  height: 634px;
  min-width: 707px;
}

.service {
  margin-top: 82px;
}

.service__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.45em;
  color: #8a898e;
}

.service__title {
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 52px;
  text-align: center;
  color: #0b1b35;
  margin-top: 19px;
}

.service__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 110px;
  width: 352px;
  height: 508px;
  background: #ffffff;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 28px;
}

.skill__logo1 {
  margin-top: 30.5px;
}

.skill__logo2 {
  margin-top: 40.3px;
}

.skill__logo3 {
  margin-top: 30.5px;
}

.skill__title {
  margin-top: 41px;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 37px;
}

.skill__title2 {
  margin-top: 50.3px;
}

.skill__text {
  margin-top: 32px;
  max-width: 270px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}

.skill__button {
  margin-top: 29px;
  padding: 10px 35px;
}

.many {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 180px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.many__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.many__title {
  max-width: 190px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  color: #1e0e62;
}

.many__text {
  margin-top: 22px;
  max-width: 322px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgba(21, 20, 57, 0.4);
  mix-blend-mode: normal;
}

.many__button {
  margin-top: 122px;
  display: block;
  padding: 13px 28px;
  border: 2px solid #ebeaed;
  border-radius: 100px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #1e0e62;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.many__button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.many__video {
  border-radius: 10px;
  width: 688px;
  height: 386px;
  background-image: url(../img/many__img.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.many__elipse {
  background: #482be7;
  border-radius: 100px;
  width: 84.43px;
  height: 84.43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.many__elipse:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.many__ic {
  background-image: url(../img/many__ic.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  background-size: 15px;
}

.testmonials {
  margin-top: 146px;
}

.testmonials__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.45em;
  color: #8a898e;
}

.testmonials__title {
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 52px;
  text-align: center;
  color: #0b1b35;
  margin-top: 19px;
}

.testmonials__wrapper {
  margin: 0 auto;
  margin-top: 101px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  max-width: 970px;
  width: 100%;
  gap: 30px;
}

.client {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 36px 28px 23px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client__img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  margin-right: 30px;
}

.client__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 179px;
}

.client__text {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #0b1b35;
  max-width: 307px;
}

.client__name {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #0b1b35;
  opacity: 0.3;
}

.team {
  margin-top: 142px;
}

.team__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.45em;
  color: #8a898e;
}

.team__title {
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 52px;
  text-align: center;
  color: #0b1b35;
  margin-top: 19px;
}

.team__wrapper {
  margin-top: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.member {
  width: 370px;
  height: 370px;
  border: 2px solid #ebeaed;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.member__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.member__logo {
  margin-top: 60px;
  width: 120px;
  height: 120px;
}

.member__title {
  margin-top: 28.8px;
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  color: #1e0e62;
}

.member__subtitle {
  margin-top: 12.2px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(21, 20, 57, 0.4);
}

.member__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.member__link {
  border-right: 2px solid #ebeaed;
  border-top: 2px solid #ebeaed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 20px;
  height: 60px;
}
.member__link:last-child {
  border-right: 0px;
}

.member__img {
  width: 21px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.member__img:hover {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.subscribe {
  margin-top: 110px;
}

.subscribe__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.45em;
  color: #8a898e;
}

.subscribe__title {
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 52px;
  text-align: center;
  color: #0b1b35;
  margin-top: 19px;
}

.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 101px;
}

.email__img {
  width: 421px;
  height: 367px;
}

.email__text {
  max-width: 684px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.email__form {
  margin-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.email__input {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #dddddd;
  max-width: 633px;
  width: 100%;
  padding: 24px 0;
  text-indent: 67px;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 49px;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.email__input::-webkit-input-placeholder {
  color: #000000;
}
.email__input::-moz-placeholder {
  color: #000000;
}
.email__input:-ms-input-placeholder {
  color: #000000;
}
.email__input::-ms-input-placeholder {
  color: #000000;
}
.email__input::placeholder {
  color: #000000;
}
.email__input:focus {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.email__button {
  border: 0px;
  padding: 10px 0;
  width: 100%;
  margin-top: 51px;
}
.email__button:hover {
  cursor: pointer;
}

.footer {
  margin-top: 167px;
  padding-bottom: 40px;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  width: 111px;
  height: 23px;
}

@media (max-width: 970px) {
  .menuFull {
    display: none !important;
    line-height: 35px;
  }
  .menuBurger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menuBurger__logo {
    display: inline-block;
  }
  .menuBurger__profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .profile {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .boost {
    margin-top: 140px !important;
  }
}
@media (max-width: 454px) {
  .menuBurger__profile {
    display: none;
  }
  .menuBurger__open .menuBurger__item-logIn,
.menuBurger__item-signUp {
    display: block !important;
  }
  .menuBurger__logo {
    position: static !important;
    margin: 0;
    margin-right: -10px;
  }
}
@media (max-width: 1232px) {
  .title {
    font-size: 60px;
    line-height: 74px;
  }
  .boost__man {
    height: 544px;
    min-width: 641px;
  }
  .boost__man .comments,
.boost__man .items,
.boost__man .image {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
  }
}
@media (max-width: 405px) {
  .title {
    font-size: 47px !important;
    line-height: 56px !important;
  }
  .text {
    font-size: 18px;
    line-height: 25px;
    margin-top: 25px;
  }
  .boost {
    margin-top: 109px !important;
  }
  .boost__button {
    font-size: 14px;
    padding: 6px 18px;
    margin-right: 16px;
  }
  .boost__ic {
    width: 35px;
    margin-right: 10px;
  }
  .boost__link {
    font-size: 14px;
  }
  .boost__activities {
    margin-top: 25px;
  }
}
@media (max-width: 1111px) {
  .boost {
    margin-top: 32px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .boost__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .title {
    margin-top: 0px !important;
    text-align: center;
    margin-top: 66px;
    max-width: 969px;
    font-weight: 850;
    font-size: 70px;
    line-height: 81px;
  }
  .boost__man {
    display: none;
  }
  .text {
    text-align: center;
  }
  .service__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .skill {
    margin-top: 110px;
    width: 100%;
    height: auto;
    background: #ffffff;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 28px;
    padding-left: 0px;
  }
  .skill__text {
    margin-top: 50px;
    font-size: 20px;
    max-width: 80%;
  }
  .skill__logo1, .skill__logo2, .skill__logo3 {
    margin-top: 0;
  }
  .skill__button {
    margin-top: 50px;
    padding: 12px 65px;
    border-radius: 15px;
  }
}
@media (max-width: 285px) {
  .boost__button {
    font-size: 12px !important;
    padding: 5px 16px !important;
    margin-right: 12px !important;
  }
  .boost__ic {
    width: 30px !important;
    margin-right: 8px !important;
  }
  .boost__link {
    font-size: 12px !important;
  }
  .skill__text {
    max-width: 100%;
    font-size: 18px;
  }
  .skill__button {
    font-size: 14px;
    padding: 8px 32px;
    border-radius: 10px;
    margin-top: 35px;
  }
}
@media (max-width: 1057px) {
  .many {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .many__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .many__title {
    font-size: 40px;
    max-width: 700px;
    line-height: 45px;
  }
  .many__text {
    margin-top: 40px;
  }
  .many__button {
    margin: 40px 0;
  }
  .many__video {
    display: none;
  }
}
@media (max-width: 388px) {
  .client {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .client__img {
    margin: 0 0 30px 0;
  }
  .client__info {
    height: auto;
    min-height: 0px;
  }
  .client__text {
    margin-bottom: 30px;
  }
}
@media (max-width: 792px) {
  .team__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .member {
    max-width: 370px;
    width: 100%;
  }
}
@media (max-width: 1160px) {
  .email__img {
    display: none;
  }
  .email__text {
    text-align: center;
  }
  .email {
    margin-top: 70px;
  }
  .email__form {
    margin-top: 40px;
  }
  .email__input {
    text-indent: 40px;
  }
}
@media (max-width: 560px) {
  .footer__info {
    gap: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin: 30px 0;
  }
  .footer {
    padding-bottom: 0;
  }
}