* {
  margin: 0;
  padding: 0;
  font-family: "Ageo";
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: normal;
}

.container {
  max-width: 1320px;
  padding: 0px 15px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 48px 0 0 0;
  height: 49px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  width: 240px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu__item {
  margin-right: 40px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.menu__link_selected {
  font-weight: 700;
}

.profile {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  margin-right: 22px;
}

.button {
  display: block;
  padding: 10px 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  background: #ff6600;
  border-radius: 10px;
}

.boost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 630px;
}

.title {
  margin-top: 114px;
  width: 500px;
  height: 260px;
  font-weight: 850;
  font-size: 70px;
  line-height: 81px;
  color: #0b1b35;
}

.text {
  margin-top: 16px;
  width: 555px;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
}

.boost__activities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 66px;
}

.boost__button {
  padding: 10px 34px;
  margin-right: 28px;
}

.boost__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boost__ic {
  width: 50px;
  margin-right: 25px;
}

.boost__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}

.comm1 {
  position: absolute;
  width: 275px;
  height: 73px;
  left: 74px;
  top: 62px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  background-image: url(../img/comm1.png);
  background-size: cover;
}

.comm2 {
  position: absolute;
  width: 217px;
  height: 73px;
  left: 0px;
  top: 451px;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 12px;
  background-image: url(../img/comm2.png);
  background-size: cover;
}

.items {
  position: absolute;
  width: 639.57px;
  height: 330.62px;
  left: 51.76px;
  top: 94px;
  background-image: url("../img/items.png");
  background-size: cover;
}

.elipse {
  position: absolute;
  left: 198.51px;
  top: 126.52px;
  width: 472.23px;
  height: 472.23px;
  border-radius: 100%;
  background: #f1f1f1;
  -webkit-box-shadow: 0px 67px 138px rgba(0, 0, 0, 0.07), 0px 24.7373px 52.236px rgba(0, 0, 0, 0.0529883), 0px 10.7361px 24.4413px rgba(0, 0, 0, 0.0474983), 0px 4.36604px 11.5058px rgba(0, 0, 0, 0.0432167), 0px 1.32076px 4.80426px rgba(0, 0, 0, 0.0377011), 0px 0.0956488px 1.40755px rgba(0, 0, 0, 0.0279548);
          box-shadow: 0px 67px 138px rgba(0, 0, 0, 0.07), 0px 24.7373px 52.236px rgba(0, 0, 0, 0.0529883), 0px 10.7361px 24.4413px rgba(0, 0, 0, 0.0474983), 0px 4.36604px 11.5058px rgba(0, 0, 0, 0.0432167), 0px 1.32076px 4.80426px rgba(0, 0, 0, 0.0377011), 0px 0.0956488px 1.40755px rgba(0, 0, 0, 0.0279548);
}

.pic {
  position: absolute;
  left: 101px;
  top: 0px;
  width: 606px;
  height: 618.09px;
  background-image: url("../img/joyful-guy-texting-message-smartphone2 1.png");
  background-size: cover;
}

.boost__man {
  position: relative;
  top: 30px;
  left: 90px;
}

.service {
  margin-top: 82px;
}

.service__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.45em;
  color: #8a898e;
}

.service__title {
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 28px;
  text-align: center;
  color: #0b1b35;
  margin-top: 19px;
}

.service__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 110px;
  width: 352px;
  height: 508px;
  background: #ffffff;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 28px;
}

.skill__logo1 {
  margin-top: 30.5px;
}

.skill__logo2 {
  margin-top: 40.3px;
}

.skill__logo3 {
  margin-top: 30.5px;
}

.skill__title {
  margin-top: 41px;
  font-weight: 700;
  font-size: 36px;
  line-height: 28px;
  text-align: center;
}

.skill__title2 {
  margin-top: 50.3px;
}

.skill__text {
  margin-top: 32px;
  max-width: 270px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}

.skill__button {
  margin-top: 29px;
  padding: 10px 35px;
}

.many {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 386px;
  margin-top: 180px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.many__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.many__title {
  max-width: 190px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  color: #1e0e62;
}

.many__text {
  margin-top: 22px;
  max-width: 322px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgba(21, 20, 57, 0.4);
  mix-blend-mode: normal;
}

.many__button {
  margin-top: 122px;
  display: block;
  padding: 13px 28px;
  border: 2px solid #ebeaed;
  border-radius: 100px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #1e0e62;
}

.many__video {
  border-radius: 10px;
  width: 688px;
  height: 386px;
  background-image: url(../img/many__img.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.many__elipse {
  background: #482be7;
  border-radius: 100px;
  width: 84.43px;
  height: 84.43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.many__ic {
  background-image: url(../img/many__ic.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  background-size: 15px;
}