$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
$menuItems: 6;

.menuBurger {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background: #ffffff;
    overflow: hidden;
    transition: all 0.5s ease-out, background 1s ease-out;
    transition-delay: 0.2s;
    z-index: 1;
    justify-content: space-between;
    .menuBurger__container {
        position: relative;
        display: inline-block;
        height: 18px;
        width: 18px;
        cursor: pointer;
        transform: rotate(0deg);
        transition: all 0.3s $cubic;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        margin-left: 15px;
        margin-top: 21px;
        z-index: 5;
        .burger {
            width: 18px;
            height: 8px;
            position: relative;
            display: block;
            margin: -4px auto 0;
            top: 50%;
            transform: rotate(0deg);
            transition: all 0.3s $cubic;
        }

        .bar {
            width: 100%;
            height: 1px;
            display: block;
            position: relative;
            background: #0b1b35;
            transition: all 0.3s $cubic;
            transition-delay: 0s;
            &.topBar {
                transform: translateY(0px) rotate(0deg);
            }
            &.btmBar {
                transform: translateY(6px) rotate(0deg);
            }
        }
    }
    .icon {
        display: inline-block;
        position: absolute;
        height: 100%;
        line-height: 50px;
        width: 50px;
        height: 50px;
        text-align: center;
        color: #fff;
        font-size: 22px;
        left: 50%;
        transform: translateX(-50%);
    }
    .menuBurger__list {
        position: relative;
        display: block;
        padding: 0px 48px 0;
        list-style: none;
        .menuBurger__item {
             border-bottom: 1.5px solid rgb(255, 255, 255);
            margin-top: 5px;
            transform: scale(1.15) translateY(-30px);
            opacity: 0;
            transition: transform 0.5s $cubic, opacity 0.6s $cubic;
            @for $i from 1 through $menuItems {
                &:nth-child(#{$i}) {
                    transition-delay: #{0.56 - ($i * 0.07)}s;
                }
            } 
            .menuBurger__link {
                display: block;
                position: relative;
                color: rgb(255, 255, 255);
                font-family: "DM Sans";
                font-weight: 400;
                text-decoration: none;
                font-size: 22px;
                line-height: 2.35;
                font-weight: 200;
                width: 100%;
                &:hover {
                }
            }
        }
    }
    &.menuBurger__open {
        height: calc(100vh + 60px);
        background-color: #0b1b357c;
        backdrop-filter: blur(20px);
        transition: all 0.3s ease-in, background 0.5s ease-in;
        .menuBurger__container {
            transform: rotate(90deg);
        }
        .bar {
            background: #ffffff;
            transition: all 0.4s $cubic;
            transition-delay: 0.2s;
            &.topBar {
                transform: translateY(4px) rotate(45deg);
            }
            &.btmBar {
                transform: translateY(3px) rotate(-45deg);
            }
        }
        .menuBurger__list {
            .menuBurger__item {
                transform: scale(1) translateY(0px);
                opacity: 1;
                @for $i from 1 through $menuItems {
                    &:nth-child(#{$i}) {
                        transition-delay: #{0.07 * $i + 0.2}s;
                    }
                }
            }
        }
        .icon {
            // &.icon-bag {
            //     transform: translateX(75px);
            //     transition-delay: 0.3s;
            // }
        }
    }
}
